.header {
    margin: 3px #40826d;
    display: block;
    padding: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    border: 4px solid #40826D;
    background-color: #40826D;

}
.header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: #40826D;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #40826D;
}

.header nav ul {
    background-color: #40826D;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    background-color: #40826D;
}

.n {
    background-color: #40826D;
    color:#fff
}

.work {
margin: 25px;
display: block;
border-right: solid #40826d;
} 

h2 {
   display: block;
    color: black;
    font-size: xx-large;
    margin-top: 271px;
    margin-left: 83px;
}
main {
    /* display: grid; */
    display: flex;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);

}

.gratitudes {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: .5in;
  }

  article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     position: relative;
  }


.h3 {
    margin-top: -25px;
    display: block;
    text-align: center;
    border: solid .5px #40826d;
     background-image: linear-gradient(
      rgba(186, 235, 216, 0.3) 0%,
      rgba(102, 236, 199, 0.6) 100%);
} 

section {
    display: flexbox;
    padding: 11px;
    background-color: #40826d;
    width: 100%;
    margin-top: 87px;
}


img {
   border-radius: 8px;
   display: block; 
   margin: 5px;
   box-shadow: 4px 4px ; 
   padding: 3px;
   border-radius: 19px;
}


.aside {
    display: block;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    width: 247px;
    font-family: 'Raleway', sans-serif;
    background-color: #40826D;
    position: inherit;
}
.aside h1 {
    margin-bottom: 4px;
    text-align: inherit;
    flex-direction: column;
    background-color: #40826D;
    color: #fff
}

.p {
    background-color: #40826D;
    flex-direction: column;
    text-align: inherit;
    color: #fff;
}
footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #40826d;
  color: #fff;
  justify-content: space-between;
  margin-top: 51px;
}

footer ul {
    background-color: #40826D;
}

footer ul li {
    font-size: 20px;
    display: inline-flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
    article {
        flex-direction: column;
    }
  }
  /* unvisited link */
a:link {
    color: navy;
  }
  
  /* visited link */
  a:visited {
    color: navy;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    font-size: 150%;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }